*{
  box-sizing: border-box;
}

.home-section{
  display: flex !important;
  flex-direction: column !important;
  justify-content: center !important;
  align-items: center !important;
  width: 100% !important;
  height: 90% !important;
  background-color: white !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  background-position: center top !important;
}

#gif1{
  align-self: start;
}
